<!-- Begin of Chaport Live Chat code
<script type="text/javascript">
(function(w,d,v3){
w.chaportConfig = { appId : '5c1c1bee565f6f1aaa9de696' };

if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
</script>
End of Chaport Live Chat code -->

<!--Start of Tawk.to Script
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5d14b39053d10a56bd7c22b1/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
End of Tawk.to Script-->

<!--Start of Birdseed.io Script-->
<script defer id="io.birdseed.script-tag" type="text/javascript" src="https://app.birdseed.io/widget.js"></script>
<div id="birdseed-widget-container" data-token="475b6c07a92e53b04e2e27152716548f"></div>
<!--End of Birdseed.io Script-->