<section class="cid-qXY9da6NLB" id="footer1-4">

    

    

    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    
                        <img src="assets/images/undraw-map-dros-1.svg" alt="Map card" title="">
                    
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-4">
                <h5 class="pb-3">
                    Firma</h5>
                <p class="mbr-text">TECHOMAX GmbH<br>Heiligenstädter Lände 29 / 2. OG,<br>1190 Wien, Österreich<br>UID-Nr: AT U71975838<br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-4">
                <h5 class="pb-3">
                    Links</h5>
                <p class="mbr-text"><a href="karriere.html" class="text-success">Karriere</a><br><a href="info.html#content9-5j" class="text-success">Bankverbindung</a><br><a href="kontakt.html#accordion1-5q" class="text-success">Häufig gestellte Fragen (FAQ)</a></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-4">
                <h5 class="pb-3">
                    Legal</h5>
                <p class="mbr-text"><a href="impressum-de.html" class="text-success">Impressum</a><br><a href="agb.html" class="text-success">AGB</a><br><a href="assets/files/Datenschutzerkla%CC%88rung%20von%20techomax.at%20-%20Deutsch.pdf" class="text-success" target="_blank">Datenschutzerklärung&nbsp;(PDF)</a><br></p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-4">
                        © 2019 TECHOMAX GmbH — Illustrations MIT Licensed<strong><u><br></u></strong></p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://www.linkedin.com/company/techomax-gmbh/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(15, 118, 153); fill: rgb(15, 118, 153);"></span>
                            </a>
                        </div>
                        
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>