<section class="features8 cid-rlrnGITu0Q mbr-parallax-background" id="features8-5l">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(156, 17, 17);">
    </div>

    <div class="container">
        <div class="media-container-row">

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mobi-mbri-save mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">
                        {% if page.lang == 'en' %}
                          Storage
                          {% else %}
                          Speicher
                          {% endif %}
                      </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                    {% if page.lang == 'en' %}
                          Internal/Exteranl HDD/SSD, USB Sticks etc.
                          {% else %}
                          Interne/externe HDD/Festplatten und SSD, USB-Sticks
                          {% endif %}
                    </p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mobi-mbri-to-local-drive mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">
                        {% if page.lang == 'en' %}
                      PC-Hardware
                      {% else %}
                      PC-Einbauten
                      {% endif %}
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                     {% if page.lang == 'en' %}
                          CPU, RAM, Graphics Cards, Motherboards etc.
                          {% else %}
                          CPU, RAM, Grafikkarten, Motherboards usw.
                          {% endif %}
                    </p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mobi-mbri-desktop mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">
                        {% if page.lang == 'en' %}
                          TVs, Monitors
                          {% else %}
                          TVs, Monitoren
                          {% endif %}
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                       {% if page.lang == 'en' %}
                          Samsung, LG and other lesser known brands
                          {% else %}
                          Samsung, LG und einige weniger bekannte Marken
                          {% endif %}
                    </p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mobi-mbri-devices mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">
                        Smartphones
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                      {% if page.lang == 'en' %}
                          And More! Brown Goods, SDA, Gaming!
                          {% else %}
                          Und mehr! Braune Ware, Haushaltsgeräte, Spiele usw.
                          {% endif %}
                      <br>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>