  <section class="mbr-section contacts3 cid-rlseHmGy6o" id="contacts3-5n">

    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-1">
                    {% if page.lang == 'en' %}
                    Contact
                    {% else %}
                    Kontakt
                    {% endif %}
                </h2>
                
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <!-- <span class="amp-iconfont icon fa-thumbs-o-up fa socicon-skype socicon" style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span> -->
                                <span class="la-skype"></span>
                            </span>
                            <div class="b-info b-adress">
                                <h5 class="align-left mbr-fonts-style display-5">Skype</h5>
                                <p class="mbr-text align-left mbr-fonts-style display-5"><a href="skype:live:info_623999?add" target="_blank"><strong>live:info_623999</strong></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-phone fa mobi-mbri-phone mobi-mbri" style="color: rgb(47, 150, 60); fill: rgb(47, 150, 60);"></span>
                            </span>
                            <div class="b-info b-phone">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    <span class="line-awesome"><i class="la la-whatsapp"></i></span>
                                    {% if page.lang == 'en' %}
                                    Phone Number
                                    {% else %}
                                    Telefon
                                    {% endif %}
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-5"><a href="https://api.whatsapp.com/send?phone=436766225503&text=I%27m%20interested%20in%20the%20offer%20from%20your%2001.02.19%20newsletter" target="_blank"><strong>
                                    {% if page.lang == 'en' %}
                                    Mobile
                                    {% else %}
                                    Mobil:
                                    {% endif %}
                                +43 676 6225503</strong></a><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-comment-o fa socicon-mail socicon" style="color: rgb(177, 163, 116); fill: rgb(177, 163, 116);"></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    <span class="line-awesome"><i class="la la-envelope-open-text"></i></span>E-Mail</h5>
                                <p class="mbr-text align-left mbr-fonts-style display-5"><strong>info<code>&#64;</code>techomax<code>.</code>at</strong></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <!-- <span class="amp-iconfont icon fa-th-large fa mobi-mbri-clock mobi-mbri" style="color: rgb(204, 41, 82); fill: rgb(204, 41, 82);"></span> -->
                                <span class="la la-business-time" style="color: rgb(204, 41, 82); fill: rgb(204, 41, 82);"></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    <span class="line-awesome"><i class="la la-business-time"></i></span>
                                    {% if page.lang == 'en' %}
                                    Working Hours
                                    {% else %}
                                    Arbeitszeiten
                                    {% endif %}
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-5"><a href="#"><strong>
                                    09:00-17:00 (CET)</strong></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>