  <section class="mbr-section contacts3 cid-rlseHmGy6o" id="contacts3-5n">

    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-1">
                    {% if page.lang == 'en' %}
                    Contact
                    {% else %}
                    Kontakt
                    {% endif %}
                </h2>
                
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204); font-size: 3rem;"><i class="la la-mobile"></i></span>
                            </span>
                            <div class="b-info b-adress">
                                <h5 class="align-left mbr-fonts-style display-5">Skype</h5>
                                <p class="mbr-text align-left mbr-fonts-style display-5"><a href="skype:live:info_623999?add" target="_blank"><strong>live:info_623999</strong></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span style="color: rgb(47, 150, 60); fill: rgb(47, 150, 60) font-size: 3rem;"><<i class="la la-mobile"></i></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    {% if page.lang == 'en' %}
                                    Phone Number
                                    {% else %}
                                    Telefon
                                    {% endif %}
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-5"><a href="https://api.whatsapp.com/send?phone=436766225503&text=Hello,%20I%20got%20your%20number%20from%20the%20techomax.at%20website" target="_blank"><strong>
                                    {% if page.lang == 'en' %}
                                    Mobile
                                    {% else %}
                                    Mobil:
                                    {% endif %}
                                +43 676 6225503</strong></a>
                                <br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span style="color: rgb(177, 163, 116); fill: rgb(177, 163, 116); font-size: 3rem"><i class="la la-envelope-open-text"></i></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    E-Mail</h5>
                                <p class="mbr-text align-left mbr-fonts-style display-5"><strong>info<code>&#64;</code>techomax<code>.</code>at</strong></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <!-- <span class="amp-iconfont icon fa-th-large fa mobi-mbri-clock mobi-mbri" style="color: rgb(204, 41, 82); fill: rgb(204, 41, 82);"></span> -->
                                <span style="color: rgb(204, 41, 82); fill: rgb(204, 41, 82); font-size: 3rem"><i class="la la-business-time"></i></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    {% if page.lang == 'en' %}
                                    Working Hours
                                    {% else %}
                                    Arbeitszeiten
                                    {% endif %}
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-5"><strong>09:00-17:00 (CET/CEST)</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>