
  <section class="mbr-section content4 cid-r20gMr9i7r" id="content4-36">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Allgemeine Geschäfts-bedingungen von techomax.de</h2>
                
                
            </div>
        </div>
    </div>
</section>
<section class="mbr-section article content3 cid-r20gX9WGTj" id="content3-37">
      
     

    <div class="container">
        <div class="media-container-row">
            <div class="row col-12 col-md-8">
                <div class="col-12 col-md-6 pr-lg-4 mbr-text mbr-fonts-style display-7">
                    <p>
                        {% if page.lang == 'en' %}
                        On this page you will find the general terms and conditions for the use of the official website of TECHOMAX GmbH (techomax.at). If you continue to use our website, you have agreed to and/or at least taken note of the following points and our data protection declaration.
                        {% else %}
                        Auf dieser Seite finden Sie die Allgemeinen Geschäftsbedingungen für die Nutzung der offiziellen Website von TECHOMAX GmbH (techomax.at). Wenn Sie unsere Website weiterhin nutzen, haben Sie folgenden Punkten und unsere Datenschutzerklärung zugestimmt und/oder sie zumindest zur Kenntnis genommen.
                        {% endif %}
                    </p>
                    <p>
                        <strong>
                            {% if page.lang == 'en' %}
                            Read More:
                            {% else %}
                            Mehr lesen:
                            {% endif %}  
                        </strong>
                    </p>
                    <p>
                        <span style="font-size: 1rem;">
                            <a href="/{{%20page.lang%20}}/privacy" target="_blank">
                            {% if page.lang == 'en' %}
                            Privacy Policy
                            {% else %}
                            Datenschutzerklärung
                            {% endif %}
                            </a>
                        </span>
                    </p>
                </div>
                <div class="col-12 col-md-6 pl-lg-4 mbr-text mbr-fonts-style display-7">
                    <p>
                        {% if page.lang == 'en' %}
                        <strong>1.</strong> This website is the property of TECHOMAX GmbH. Sections of the website, trademarks, contents, logos or graphics <strong>(*)</strong> may not be copied, forwarded or used without the permission of TECHOMAX GmbH. All requests to use or copy information, trademarks, logos and images published on the website techomax.at must be addressed to TECHOMAX GmbH.
                        {% else %}
                        <strong>1.</strong> Diese Website ist das Eigentum von TECHOMAX GmbH. Abschnitte der Website, Markenzeichen, Inhalte, Logos oder Grafiken <strong>(*)</strong> dürfen nicht kopiert, weitergeleitet oder ohne ausdrückliche Erlaubnis von TECHOMAX GmbH genutzt werden. Alle Anfragen zur Nutzung oder Kopie von Informationen, Markenzeichen, Logos und Bildern, die auf der Website techomax.at veröffentlicht sind, müssen an TECHOMAX GmbH gerichtet werden.
                        {% endif %}
                    </p>
                    <p></p>
                    <div>
                        {% if page.lang == 'en' %}
                        <strong>2.</strong> Through the links on our website you can reach other websites which are not under constant observation by TECHOMAX GmbH. TECHOMAX GmbH accepts no liability whatsoever for the content of these websites, including their links, or for changes and/or updates to the content, and can therefore not be held responsible. The links on our website are provided for user convenience only.
                        {% else %}
                        <strong>2.</strong> Durch die Links auf unserer Website können Sie andere Websites erreichen, die nicht unter ständiger Beobachtung von TECHOMAX GmbH stehen. Für den Inhalt dieser Websites inklusive deren Links sowie für Änderungen und/oder Updates des Inhalts übernimmt TECHOMAX GmbH keinerlei Haftung und kann somit nicht zur Verantwortung gezogen werden. Die Links auf unserer Website dienen ausschließlich der Benutzerfreundlichkeit.
                        {% endif %}
                    </div>
                    <div>
                        <br>
                    </div>
                    <div>
                        {% if page.lang == 'en' %}
                        <strong>3.</strong> Website visits may be registered for statistical purposes to ensure continuity and regular improvement of the website.
                        {% else %}
                        <strong>3.</strong> Websitebesuche dürfen für statistische Zwecke registriert werden, um die Kontinuität sowie die regelmäßige Verbesserung der Website sicherzustellen.
                        {% endif %}
                    </div>
                    <div>
                        <br>
                    </div>
                    <div>
                        {% if page.lang == 'en' %}
                        <strong>4. </strong><span style="font-size: 1rem;">TECHOMAX GmbH reserves the right to change / adapt / replace / update and/or delete any or all of the information and data on this website at any time.
                        {% else %}
                        <strong>4.&nbsp;</strong><span style="font-size: 1rem;">TECHOMAX GmbH behält sich das Recht vor, jederzeit einzelne oder alle Informationen und Daten auf dieser Website zu ändern / anzupassen / zu ersetzen / zu aktualisieren und/oder zu löschen.</span>
                        {% endif %}
                    </div>
                    <div>
                        <span style="font-size: 1rem;"><br></span>
                    </div>
                    <div>
                        {% if page.lang == 'en' %}
                        <span style="font-size: 1rem;"><strong>(*)</strong>&nbsp;All illustrations on techomax.at are MIT-licensed.</span>
                        {% else %}
                        <span style="font-size: 1rem;"><strong>(*)</strong>&nbsp;Alle Illustrationen auf techomax.at sind MIT-lizenziert.</span>
                        {% endif %}
                    </div>
                    <div>
                        <br>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>