
{%- include quick-contact.html -%}
<section class="mbr-section content7 cid-r1rY2wRdB0" id="content7-2z">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-5">
                                {% if page.lang == 'en' %}
                                You can also reach us through the <strong>Bubble on the bottom&nbsp;right</strong> of the page!
                                {% else %}
                                Sie können uns auch durch die <strong>CBlase&nbsp;unten rechts&nbsp;</strong>erreichen!
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 200%;">
                     <img src="/assets/images/group-chat.svg" alt="chat support" title="">  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="accordion1 cid-riD1F8QnRE" id="faq">

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="section-head text-center space30">
                    <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">
                    	<strong>
                        <span class="line-awesome"; style="font-size: 5rem;"><i class="la la-question"></i></span>
                        <br>
                    	{% if page.lang == 'en' %}
                        F.A.Q. - <strong>F</strong>requently <strong>A</strong>sked <strong>Q</strong>uestions
                        {% else %}
                        F.A.Q. - Häufig gestellte Fragen
                        {% endif %}
                    	</strong>
                    </h2>
                </div>
                <div class="clearfix"></div>
                <div id="bootstrap-accordion_32" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed text-black" data-toggle="collapse" data-core="" href="#collapse1_32" aria-expanded="false" aria-controls="collapse1">
                                <h4 class="mbr-fonts-style display-5">
                                    <strong>
                                        <span class="line-awesome"><i class="la la-comments-dollar"></i></span>&nbsp;
                                        {% if page.lang == 'en' %}
                                        Payment Terms
                                        {% else %}
                                        Zahlungsbedingungen
                                        {% endif %}
                                    </strong></h4>
                            </a>
                        </div>
                        <div id="collapse1_32" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_32">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   {% if page.lang == 'en' %}
                                    For first transactions, there are generally 3 payment options, as listed below.
                                    <ul>
	                                    <li>Option 1: 100% prepayment to ship the goods directly to your company's warehouse, or
										<li>Option 2: 10% prepayment to ship the goods "on-hold" to an independent logistics warehouse of your choice
										<li>Option 3: Pickup from our warehouse EXW after paying in full (possible to inspect the goods beforehand)
									</ul>
									For transactions with regular clients we usually require a partial prepayment of 30% and we can ship the goods directly to the customer.

									{% else %}

									Für erste Transaktionen gibt es im Allgemeinen 3 Zahlungsmöglichkeiten, wie unten aufgeführt.
                                    <ul>
	                                    <li>Option 1: 100% Vorauszahlung, um die Ware direkt an das Lager Ihres Unternehmens zu liefern, oder
										<li>Option 2: 10% Vorauszahlung für den Versand der Ware "on hold" an ein unabhängiges Logistiklager Ihrer Wahl.
										<li>Option 3: Abholung von unserem Lager (EXW) nach vollständiger Bezahlung (es ist möglich, die Ware vorab zu prüfen.)
									</ul>
									Bei Transaktionen mit Stammkunden verlangen wir in der Regel eine Abschlagszahlung von 30% und können die Ware direkt an den Kunden versenden.
                                    {% endif %}
                                   <br>
                               </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse2_32" aria-expanded="false" aria-controls="collapse2">
                                <h4 class="mbr-fonts-style display-5">
                                    <strong>
                                        <span class="line-awesome"><i class="la la-credit-card"></i></span>&nbsp;
                                        {% if page.lang == 'en' %}
                                        Credit Line
                                        {% else %}
                                        Kreditlinie
                                        {% endif %}
                                    </strong></h4>
                            </a>
                            
                        </div>
                        <div id="collapse2_32" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_32">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   {% if page.lang == 'en' %}
                                    We do not currently have a credit line. The customer must either pay in advance or pay the full amount on the day of delivery.
                                    {% else %}
                                    Wir verfügen derzeit nicht über eine Kreditlinie. Der Kunde muss entweder im Voraus bezahlen oder den vollen Betrag am Tag der Lieferung bezahlen.
                                    {% endif %}
                               </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-core="" href="#collapse3_32" aria-expanded="false" aria-controls="collapse3">
                                <h4 class="mbr-fonts-style display-5">
                                    <strong>
                                        <span class="line-awesome"><i class="la la-car-crash"></i></span>&nbsp;
                                        {% if page.lang == 'en' %}
                                        Insurance
                                        {% else %}
                                        Versicherung
                                        {% endif %}
                                    </strong></h4>
                            </a>
                        </div>
                        <div id="collapse3_32" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_32">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                {% if page.lang == 'en' %}
                                All our shipments are automatically insured, so don't worry. Note that the purchase of goods "EXW (Incoterms 2010)" means that the customer pays for both transport and insurance.
                                {% else %}
                                Alle unsere Sendungen sind automatisch versichert, also keine Sorge. Beachten Sie, dass der Kauf von Waren "EXW (Incoterms 2010)" bedeutet, dass der Kunde sowohl den Transport als auch die Versicherung bezahlt.
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse4_32" aria-expanded="false" aria-controls="collapse4">
                                <h4 class="mbr-fonts-style display-5">
                                    <strong>
                                        <span class="line-awesome"><i class="la la-shipping-fast"></i></span>&nbsp;
                                        {% if page.lang == 'en' %}
                                        Shipping Duration
                                        {% else %}
                                        Transportzeit
                                        {% endif %}
                                    </strong></h4>
                            </a> 
                        </div>
                        <div id="collapse4_32" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_32">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   {% if page.lang == 'en' %}
                                    Depending on the agreement, we can arrange either a next-day delivery or a longer transport (and thus a better price). <strong>The standard delivery time is 2 days, but express shipping is almost always an option.</strong>
                                    {% else %}
                                    Je nach Vereinbarung können wir entweder eine Lieferung am nächsten Tag oder einen längeren Transport (und damit einen besseren Preis) organisieren. <strong>Die Standardlaufzeit beträgt 2 Tage, aber Expressversand ist fast immer eine Option.</strong>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse5_32" aria-expanded="false" aria-controls="collapse5">
                                <h4 class="mbr-fonts-style display-5">
                                    <strong>
                                        <span class="line-awesome"><i class="la la-parachute-box"></i></span>&nbsp;Drop Shipping
                                    </strong></h4>
                            </a>
                        </div>
                        <div id="collapse5_32" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#bootstrap-accordion_32">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   {% if page.lang == 'en' %}
                                    As long as the <strong>delivery country is within the EU</strong>, the customer is a European company and the goods are shipped from Austria, <strong>we can do drop shipping.</strong>
                                    {% else %}
                                    Solange das <strong>Lieferland innerhalb der EU </strong>liegt, der Kunde ein europäisches Unternehmen ist und die Ware aus Österreich verschickt wird, <strong>können wir Drop-Shipping machen.</strong>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section contacts1 cid-rlzlHpDWnr" id="contacts1-5n">
    <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                
                
            </div>
            <!--Left-->
            <div class="col-12 col-md-6">
                <div class="left-block wrapper">
                    <div class="b b-adress">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            {% if page.lang == 'en' %}
                            Our office
                            {% else %}
                            Unser Büro
                            {% endif %}
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-7">Heiligenstädter Lände 29 / 2. OG
                            <br>
                            {% if page.lang == 'en' %}
                            1190 Vienna, Austria
                            {% else %}
                            1190 Wien, Österreich
                            {% endif %}
                            <br>
                        </p>
                    </div>
                    <div class="b b-phone">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            {% if page.lang == 'en' %}
                            Landline Number
                            {% else %}
                            Fest-Nummer
                            {% endif %}
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-7">
                            <a href="tel:+431361441133">
                            +43 (0) 1 361 44 1133 
                            </a>
                        </p>
                    </div>
                    
                </div>
            </div>
            <!--Right-->
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCy9r70T3NYf3PhvVflTo0_zdif2_IoIYs&amp;q=place_id:ChIJQ6as6jkGbUcR6p3-IzHrHYE" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>