  <section class="header10 cid-rGtduhVd8z mbr-fullscreen mbr-parallax-background" id="header10-5p">

    <div class="container">
        <div class="media-container-column mbr-white p-5 align-left col-lg-8 col-md-10">
            <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">

              DETAILS COMING SOON

            </h1>
            
            <p class="mbr-text pb-3 mbr-fonts-style display-5">
              {% if page.lang == 'en' %}
                  We sell cooking oil and cheese from the leading producers in Europe. Private label options (<strong>own brands</strong>) available.
                  {% else %}
                  Wir vertreiben Kochöl und Käse von den führenden Herstellern in Europa. Private-Label-Optionen (<strong>Eigenmarken</strong>) verfügbar.
                  {% endif %}
            </p>
            
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features11 cid-rGtrh3FVWv" id="features11-5z">
    

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 50%;">
                    <img src="/assets/images/cheese-board-c-952x1150.jpeg" alt="Cheese blocks" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2"><strong>
                    {% if page.lang == 'en' %}
                    Cheese enriched with Vegetable Fats
                    {% else %}
                    Käse mit Pflanzenfetten angereichert
                    {% endif %}
                    
                  </strong></h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">
                          {% if page.lang == 'en' %}
                          We distribute a variety of cheeses, all enriched with vegetable fats, but retaining their uniquely delicious taste.
                          <br><br>
                          In this way you can offer your customers the cheese they crave at the prices they want.
                          {% else %}
                          Wir vertreiben verschiedene Käsesorten, die alle mit Pflanzenfetten angereichert sind, aber ihren einzigartig köstlichen Geschmack behalten.
                          <br><br>
                          Auf diese Weise können Sie Ihren Kunden den Käse anbieten, den sie sich wünschen, zu den Preisen, die sie möchten.
                          {% endif %}
                          
                          </p>
                    </div>

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class=" align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mobi-mbri-protect mobi-mbri" style="color: rgb(164, 2, 37); fill: rgb(164, 2, 37);"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-5"><strong>
                                      {% if page.lang == 'en' %}
                                      Quality cheese, recognizable taste
                                      {% else %}
                                      Qualitätskäse, erkennbarer Geschmack
                                      {% endif %}
                                    
                                    </strong></h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mobi-mbri-website-theme-2 mobi-mbri" style="color: rgb(164, 2, 37); fill: rgb(164, 2, 37);"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-5"><strong>
                                    
                                    {% if page.lang == 'en' %}
                                      Your own brand (Private Label)
                                      {% else %}
                                      Ihre eigene Marke (Private Label)
                                      {% endif %}
                                    </strong></h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>

<section class="mbr-section content5 cid-rGtk0QaH2N" id="content5-5x">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(209, 95, 1);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                
                
                
            </div>
        </div>
    </div>
</section>

<section class="cid-rGtf5kQGGs" id="image2-5r">

    

    <figure class="mbr-figure">
        <div class="image-block" style="width: 100%;">
            <img src="/assets/images/bounge-about-1200x128.png" alt="Mobirise" title="">
            
        </div>
    </figure>
</section>

<section class="mbr-section content4 cid-rGtjPHHtIk" id="content4-5v">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1"><strong>
                    
                    {% if page.lang == 'en' %}
                    Cooking Oil
                    {% else %}
                    KOCHÖL
                    {% endif %}
                  </strong></h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="cid-rGtgjegfOM" id="content13-5t">
    
    <div class="container">
            <div class="media-container-row" style="width: 85%;">
                <div class="img-item item1" style="width: 101%;">
                    <img src="/assets/images/arowphone1a-583x250.png" alt="BUNGE Pro Cuisine Oil" title="">
                    <div class="img-caption">
                        <p class="mbr-fonts-style align-center mbr-black display-7"><strong>
                            BUNGE Pro Cuisine
                          </strong><br>
                          {% if page.lang == 'en' %}
                          Professional, long-lasting frying oil
                          {% else %}
                          Professionelles, langlebiges Frittieröl
                          {% endif %}
                          
                        </p>
                    </div>
                </div>
                <div class="img-item">
                    <img src="/assets/images/arowphone4a-510x219.png" alt="BUNGE Vesto Oil" title="">
                    <div class="img-caption">
                        <p class="mbr-fonts-style align-center mbr-black display-7"><strong>
                            BUNGE Vesto
                          </strong><br>
                        
                        {% if page.lang == 'en' %}
                          Sunflower Oil for Home Use
                          {% else %}
                          Sonnenblumenöl für den Heimgebrauch
                          {% endif %}
                        </p>
                    </div>
                </div>
            </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rGtuQjMNkU" id="content9-60">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-5">
              {% if page.lang == 'en' %}
                    Our food store is still under construction as we currently secure production lines to ensure the best service.<div>Contact us at <strong>edibles<code>@</code>techomax<code>.</code>at</strong> (or +43 676 6225503)&nbsp;to find out how we can help you inspire your customers,<strong>&nbsp;in wholesale or retail</strong>!
                    {% else %}
                    Unser Esswaren-Geschäft ist noch in Arbeit, da wir momentan Produktionslinien sichern, um den besten Service zu gewährleisten.<div>Kontaktieren Sie uns unter <strong>edibles<code>@</code>techomax<code>.</code>at</strong> (oder +43 676 6225503)&nbsp;um zu erfahren, wie wir Ihnen helfen können, Ihre Kunden zu begeistern,<strong>&nbsp;im Groß- oder Einzelhandel</strong>!
                    {% endif %}

              </div></div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>