
  <section class="mbr-section article content9 cid-qY48e1gkBl" id="content9-19">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-1">
                    IMPRESSUM
            </div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>

<section class="mbr-section article content1 cid-qY3b5mZPJx" id="content1-i">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <div>
                    <span style="font-size: 1rem;"><strong>Verantwortlich</strong> für das Angebot auf </span><em>techomax.at</em>
                    <span style="font-size: 1rem;">:</span>
                    <br>
                </div>
                    <div>
                        <br>
                    </div>
                    <div>TECHOMAX GmbH</div>
                    <div>Heiligenstädter Lände 29 / 2. OG</div>
                    <div>A-1190 Wien, Österreich</div>
                    <div><strong><br></strong></div><div><strong>Geschäftsführer:</strong> Panagiotis Kazasidis</div>
                    <div><br></div>
                    <div>Eingetragen im <strong>Handelsregister des Amtsgerichts Wien</strong>&nbsp;unter FN 465679y</div>
                    <div><br></div><div><strong>USt-ID-Nr.:</strong>&nbsp;AT U71975838</div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qY48tjlChq" id="content4-1b">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    KONTAKT</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">Montag - Freitag 09:00 - 17:00 Uhr (ausgenommen an Feiertagen)<div>Email: info@techomax.at</div><div>Tel: +43 1 361 44 1133</div></h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qY48H0OhNq" id="content4-1d">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    WEITERE</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">Die EU-Kommission stellt eine Plattform für außergerichtliche Streitschlichtung bereit. Verbrauchern gibt dies die Möglichkeit, Streitigkeiten im Zusammenhang mit Ihrer Online-Bestellung zunächst ohne die Einschaltung eines Gerichts zu klären. Die Streitbeilegungs-Plattform ist unter dem externen Link <a href="https://ec.europa.eu/consumers/odr " target="_blank">https://ec.europa.eu/consumers/odr</a> erreichbar.</h3>
                
            </div>
        </div>
    </div>
</section>