
<section class="header4 cid-rgs8KUiPFn mbr-parallax-background" id="header4-3h">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-figure pt-5" style="margin: 20px;">
                <img src="/assets/images/tm-logotype-prop-1-light-bg.svg" alt="TECHOMAX" title="" style="width: 60%;">
            </div>
            <div class="media-content col-md-10">
                <div class="mbr-text align-center mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-2">
                      {% if page.lang == 'en' %}
                      <strong>Wholesale</strong> of Hardware, Software <br>&amp; Consumer Electronics
                      {% else %}
                      <strong>Großhandel</strong> von Hardware, Software <br>&amp; Unterhaltungselektronik
                      {% endif %}
                    </p>
                </div>
                <div class="mbr-section-btn align-center">
                  <a class="btn btn-md btn-secondary-outline display-4" href="/{{ page.lang }}/register"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>
                {% if page.lang == 'en' %}
                  WORK WITH US
                  {% else %}
                  JETZT MIT UNS ARBEITEN
                  {% endif %}
                 </a></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-qY3jzga1KB" id="content10-o">
    
     

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 57%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-2">
            {% if page.lang == 'en' %}
              Problem-free business and good communication are our top&nbsp;priorities!
              {% else %}
              Problemlose Geschäfte und gute Kommunikation sind unsere Prioritäten!
              {% endif %}
            </div>
            <hr class="line" style="width: 57%;">
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-rgspmGshFX" id="content6-3i">
    
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 45%;">
                      <img src="/assets/images/handelot-vipplus-404x373.png" alt="Handelot" title="">  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-5"><strong><br></strong><strong>
                            {% if page.lang == 'en' %}
                              Verified by handelot so that we can start closing deals faster.
                              {% else %}
                              Geprüft von Handelot, damit wir schneller mit dem Handel anfangen können.
                              {% endif %}
                          </strong><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content3 cid-qY3JHd6VeZ" id="content3-p">
      
     

    <div class="container">
        <div class="media-container-row">
            <div class="row col-12 col-md-8">
                <div class="col-12 col-md-6 pr-lg-4 mbr-text mbr-fonts-style display-7">
                  <p>
                    {% if page.lang == 'en' %}
                      Consisting of an energetic team, TECHOMAX was founded by people with more than a decade of experience in wholesale.
                      {% else %}
                      Bestehend aus einem tatkräftigen Team, TECHOMAX wurde von Leuten mit mehr als einem Jahrzehnt Erfahrung im Großhandel gegründet.
                      {% endif %}
                  </p>
                  <p><br></p>
                </div>
                <div class="col-12 col-md-6 pl-lg-4 mbr-text mbr-fonts-style display-7">
                {% if page.lang == 'en' %}
                  We have a strong network of indispensable customers and suppliers with the aim of serving the market constantly, no matter how much it changes over the years.
                  {% else %}
                  Wir verfügen über ein starkes Netzwerk von unverzichtbaren Kunden und Lieferanten, mit dem Ziel, den Markt ständig zu bedienen, egal wie sehr er sich im Laufe der Jahre verändert.
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-rl5ggcKOj7" id="image2-5l">

    

    <figure class="mbr-figure container">
        <div class="image-block" style="width: 100%;">
            <img src="/assets/images/tech-brands-1440x282.jpg" alt="Brands" title="">
            
        </div>
    </figure>
</section>

<section class="features8 cid-rlrnGITu0Q mbr-parallax-background" id="features8-5l">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(156, 17, 17);">
    </div>

    <div class="container">
        <div class="media-container-row">

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mobi-mbri-save mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">
                        Speicher
                      </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                    Interne/externe HDD/Festplatten und SSD, USB-Sticks
                    </p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mobi-mbri-to-local-drive mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">
                        PC-Einbauten
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                     CPU, RAM, Grafikkarten, Motherboards usw.
                    </p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mobi-mbri-desktop mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">
                        TVs, Monitoren
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                       Samsung, LG und einige weniger bekannte Marken
                    </p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mobi-mbri-devices mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">
                        Smartphones
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                      Und mehr! Braune Ware, Haushaltsgeräte, Spiele usw.
                      <br>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-qXYxHXwVV6" id="image1-c">

    

    <figure class="mbr-figure container">
            <div class="image-block" style="width: 24%;">
                <img src="/assets/images/newsletter.svg" width="1400" alt="newsletter" title="">
                
            </div>
    </figure>
</section>

<section class="mbr-section content4 cid-rlzgKcMHv2" id="content4-5k">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                {% if page.lang == 'en' %}
                  Subscribe to our Newsletter
                  {% else %}
                  Abonnieren Sie unseren Newsletter
                  {% endif %}
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                {% if page.lang == 'en' %}
                  Get our offers and requests
                  {% else %}
                  Erhalten Sie Angebote und Anfragen
                  {% endif %}
                </h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rlzgTi6URF" id="content1-5m">

    <div class="container">
        <div class="media-container-row">

        {% include mailerlite.html %}
        
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-qY3KByCHyy" id="content6-q">
    
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 60%;">
                      <a href="//contact"><img src="/assets/images/chatting-1.svg" alt="chat" title=""></a>  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-2"><strong><br></strong><strong>
                            {% if page.lang == 'en' %}
                              Questions?
                              {% else %}
                              Fragen?
                              {% endif %}
                          </strong><strong><br></strong>
                          <strong>
                                <a href="/{{ page.lang }}/contact" class="text-primary">
                                {% if page.lang == 'en' %}
                                  Get in touch
                                  {% else %}
                                  Nehmen Sie Kontakt auf!
                                  {% endif %}
                                </a>
                            </strong> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>