<section class="header4 cid-rgs8KUiPFn mbr-parallax-background" id="header4-3h">

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="media-content col-md-10">
                
            
            <div class="mbr-figure pt-5">
                <img src="/assets/images/tm-logotype-prop-1-light-bg.svg" alt="TECHOMAX" title="" style="width: 60%;">
            </div>
            <div class="mbr-text align-center mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-2">

                      {% if page.lang == 'en' %}
                      <strong>Wholesale</strong> of Hardware, Software &amp;&nbsp;Edible Goods
                      {% else %}
                      <strong>Großhandel</strong> von Hardware, Software &amp;&nbsp;Esswaren
                      {% endif %}

                    </p>
            </div> 
            <div class="mbr-section-btn align-center"><a class="btn btn-md btn-secondary-outline display-4" href="/{{ page.lang }}/register"><span class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"></span>

            {% if page.lang == 'en' %}
                  WORK WITH US
                  {% else %}
                  JETZT MIT UNS ARBEITEN
                  {% endif %}

            </a>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-qY3jzga1KB" id="content10-o">
    
     

    <div class="container">
        <div class="inner-container" style="width: 86%;">
            <hr class="line" style="width: 64%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-2">
            {% if page.lang == 'en' %}
              Problem-free business and good communication are our top&nbsp;priorities!
              {% else %}
              Problemlose Geschäfte und gute Kommunikation sind unsere Prioritäten!
              {% endif %}
            </div>
            <hr class="line" style="width: 64%;">
        </div>
    </div>
</section>

<section class="mbr-section article content14 cid-rHeijlwDGg" id="content14-69">
      
     

    <div class="container">
        <div class="media-container-row">
            <div class="row col-12 col-md-12">
                <div class="col-12 mbr-text mbr-fonts-style col-md-4 display-7">
                     <p class="p-3">
                        {% if page.lang == 'en' %}
                        Consisting of an energetic team, TECHOMAX was founded by people with <strong>more than a decade of experience</strong> in wholesale.<br><em>Keep scrolling to learn more about us!</em>
                        {% else %}
                        Bestehend aus einem tatkräftigen Team, TECHOMAX wurde von Leuten mit <strong>mehr als einem Jahrzehnt Erfahrung im Großhandel </strong>gegründet.<br><em>Scrollen Sie weiter, um mehr über uns zu erfahren!</em>
                        {% endif %}
                     </p>
                </div>
                <div class="col-12 mbr-text mbr-fonts-style display-7 col-md-4">
                    <p class="p-3">
                        {% if page.lang == 'en' %}
                          We have a <strong>strong network</strong> of indispensable customers and suppliers with the aim of <strong>serving the market constantly</strong>, no matter how much it changes over time.
                          {% else %}
                          Wir verfügen über ein <strong>starkes Netzwerk</strong> von unverzichtbaren Kunden und Lieferanten, mit dem Ziel, <strong>den Markt ständig zu bedienen</strong>, egal wie sehr er sich im Laufe der Zeit verändert.
                          {% endif %}
                    </p>
                </div>
                <div class="col-12 col-md-4 mbr-text mbr-fonts-style display-7">
                    <p class="p-3">
                        {% if page.lang == 'en' %}
                        Our current focus is on meeting the needs of <strong>big distributors and retailers</strong>. We sell <strong>Xiaomi, Samsung</strong> and other products in large quantities at attractive prices.
                        {% else %}
                        Unser aktueller Fokus liegt auf der Erfüllung der Bedürfnisse <strong>großer Distributoren und Einzelhändler</strong>. Wir verkaufen <strong>Xiaomi, Samsung</strong> und andere Produkte in großen Mengen zu attraktiven Preisen.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section info1 cid-rHebDtBEFs" id="info1-66">

    

    
    <div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">
                {% if page.lang == 'en' %}
                Learn more about us
                {% else %}
                Erfahren Sie mehr über uns
                {% endif %}

                </h3>
                <h2 class="align-left mbr-bold mbr-fonts-style display-2">
                
                {% if page.lang == 'en' %}
                Printable Introduction Brochure
                {% else %}
                Druckbare Einführungsbroschüre
                {% endif %}
                </h2>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-primary display-4" href="https://techomax.at/assets/TECHOMAX_Brochure.pdf"><span class="mobi-mbri mobi-mbri-download mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>DOWNLOAD</a></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-rgspmGshFX" id="content6-3i">
    
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 45%;">
                      <img style="max-width: 45vw; margin-left: auto; margin-right: auto;" src="/assets/images/handelot-vipplus-404x373.png" alt="Handelot" title="">  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-5"><strong><br></strong><strong>
                            {% if page.lang == 'en' %}
                              Verified by handelot so that we can start closing deals faster.
                              {% else %}
                              Geprüft von Handelot, damit wir schneller mit dem Handel anfangen können.
                              {% endif %}
                            </strong><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-rHeIQ6m87j" id="image4-6h">
    <div class="container images-container">
            <div class="media-container-row" style="width: 100%;">
                <div class="img-item item1" style="width: 101%;">
                    <img src="/assets/images/tech-brands-1-720x282.jpg" alt="" title="">
                    
                </div>
                <div class="img-item">
                    <img src="/assets/images/tech-brands-2-626x245.jpg" alt="" title="">
                    
                </div>
            </div>
    </div>
</section>

{% include product-tiles.html %}

<section class="mbr-section content6 cid-rHen6DKLnR" id="content6-6a">
    
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 40%;">
                      <img style="max-width: 35vw; margin-left: auto; margin-right: auto;" src="/assets/images/mi-icon.svg" alt="MI LOGO" title="">  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p style="text-align: center;" class="mbr-text mb-0 mbr-fonts-style display-1">
                                {% if page.lang == 'en' %}
                                Proud reseller of<br><strong>Xiaomi</strong> products
                                {% else %}
                                Stolzer Händler von<br><strong>Xiaomi</strong> Produkte
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rHefitwLLd" id="content4-67">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                  <span style="font-size: 5rem; color: #EC671C">
                  <i class="la la-mobile"></i>
                  <i class="la la-headphones"></i>
                  <i class="la la-camera"></i>
                  <i class="la la-robot"></i>
                  <i class="la la-clock"></i>
                  </span>
                </h3>
                
            </div>
        </div>
    </div>
</section>


<section class="cid-rHeGvCndMj" id="image4-6e">
    <!-- Block parameters controls (Blue "Gear" panel) -->
    
    <!-- End block parameters -->
    <div class="container images-container">
            <div class="media-container-row" style="width: 66%;">
                <div class="img-item item1" style="width: 104%;">
                    <img src="/assets/images/man-vacuum-1-1063x684-729x547.jpeg" alt="" title="">
                    
                </div>
                <div class="img-item">
                    <img src="/assets/images/mi-robot-vacuum-by-xiaomi-2-1200x800.jpeg" alt="" title="">
                    
                </div>
            </div>
    </div>
</section>

<section class="cid-rHeGycTx8s" id="image4-6f">
    <!-- Block parameters controls (Blue "Gear" panel) -->
    
    <!-- End block parameters -->
    <div class="container images-container">
            <div class="media-container-row" style="width: 66%;">
                <div class="img-item item1" style="width: 153%;">
                    <img src="/assets/images/xiaomi-robot-1-800x800.jpg" alt="" title="">
                    
                </div>
                <div class="img-item">
                    <img src="/assets/images/lautaro-andreani-1bwl7kxmeq-unsplash-876x1314.jpg" alt="" title="">
                    
                </div>
            </div>
    </div>
</section>


<section class="header1 cid-rHeoI7IkCh" id="header16-6b">    

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">
                {% if page.lang == 'en' %}
                Most Popular Tech Products
                {% else %}
                Beliebteste Tech-Produkte
                {% endif %}
                </h1>
                
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="/{{ page.lang }}/tech"><span class="mobi-mbri mobi-mbri-devices mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                {% if page.lang == 'en' %}
                PRODUCTS
                {% else %}
                PRODUKTE
                {% endif %}
                </a></div>
            </div>
        </div>
    </div>

</section>


<section class="cid-qXYxHXwVV6" id="image1-c">

    

    <figure class="mbr-figure container">
            <div class="image-block" style="width: 24%;">
                <img style="max-width: 60vw; margin-left: auto; margin-right: auto;" src="/assets/images/newsletter.svg" width="1400" alt="newsletter" title="">
                
            </div>
    </figure>
</section>

<section class="mbr-section content4 cid-rlzgKcMHv2" id="content4-5k">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                {% if page.lang == 'en' %}
                  Subscribe to our Newsletter
                  {% else %}
                  Abonnieren Sie unseren Newsletter
                  {% endif %}
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                {% if page.lang == 'en' %}
                  Get our offers and requests
                  {% else %}
                  Erhalten Sie Angebote und Anfragen
                  {% endif %}
                </h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rlzgTi6URF" id="content1-5m">
    
     

    <div class="container">
        <div class="media-container-row">

            {% include mailerlite.html %}

        </div>
    </div>
</section>

<section class="mbr-section content6 cid-qY3KByCHyy" id="content6-q">
    
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 60%;">
                      <a href="/{{ page.lang }}/contact"><img style="max-width: 60vw; margin-left: auto; margin-right: auto;" src="/assets/images/chatting-1.svg" alt="chat" title=""></a>  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-2"><strong><br></strong><strong>
                            {% if page.lang == 'en' %}
                              Questions?
                              {% else %}
                              Fragen?
                              {% endif %}
                          </strong><br>
                          <strong>
                                <a href="/{{ page.lang }}/contact" class="text-primary">
                                {% if page.lang == 'en' %}
                                  Get in touch
                                  {% else %}
                                  Nehmen Sie Kontakt auf!
                                  {% endif %}
                                </a>
                            </strong> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
