<section class="mbr-section article content1 cid-rHf3S3oDxM" id="content1-6p">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8"></div>
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-rHf5tb4BpY mbr-parallax-background" id="content5-6t">


    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(95, 4, 4);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    {% if page.lang == 'en' %}
                    LOGISTICS LOCATIONS
                    {% else %}
                    LOGISTIK-STANDORTE
                    {% endif %}
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                <strong>
                    {% if page.lang == 'en' %}
                    By maintaining relationships with various logistics companies all over Austria and Europe, we ensure that we'll be able to provide the best service to our customers.
                    {% else %}
                    Durch die Zusammenarbeit mit verschiedenen Logistik-Unternehmen in ganz Österreich und Europa stellen wir sicher, dass wir unseren Kunden den besten Service bieten können.
                    {% endif %}
                </strong>
            </h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-rHeZ9DD7zR" id="content10-6k">
    
     

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-1">
                
                {% if page.lang == 'en' %}
                AUSTRIA
                {% else %}
                ÖSTERREICH
                {% endif %}
            </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>

<section class="header3 cid-rHeXi4MoHo" id="header3-6i">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="/assets/images/bollore-promo-1-1014x570.jpeg" alt="Mobirise" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2"><strong>
                

                {% if page.lang == 'en' %}
                Vienna Airport
                {% else %}
                Flughafen VIE
                {% endif %}
                </strong></h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">Bolloré Logistics Austria GmbH<br>Air Cargo Center, Obj. 263, Gate 3<br>AT-1300 Vienna Airport, Austria<br><br>
                        <i class="la la-calendar-check"></i>
                        <strong>&nbsp;MON-FRI:&nbsp;</strong>08:00-17:00</p>
                </div>
                <div class="mbr-section-btn"><a class="btn btn-md btn-danger-outline display-4" href="https://www.bollore-logistics.com/en/pages/home.aspx" target="_blank">WEBSITE</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="header3 cid-qY9fBV4BPH" id="header3-23">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="/assets/images/triworx-1-559x314.jpg" alt="triworx" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2"><font color="#272a42"><strong>Wimpassing/Wampersdorf</strong></font></h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">Triworx Logistic GmbH<br>Hauptstraße 33,<br>2485 Wimpassing an der Leitha,<br>Austria<br><br><i class="la la-calendar-check"></i>
                        
                        &nbsp;<strong>MON-THU:</strong> 08:00-16:30<br>
                        <i class="la la-calendar-check"></i>
                        &nbsp;<strong>FRI:</strong> 08:00-13:30<br></p>
                </div>
                
            </div>
        </div>
    </div>

</section>

<section class="header3 cid-rgstD7VAgu" id="header3-3k">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="/assets/images/panalpina-630x326.jpg" alt="Panalpina" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2"><strong>
                    Korneuburg</strong></h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">
                        Panalpina Welttransport GmbH<br>Johann-Pamer-Straße 1,<br>2100 Korneuburg, Austria<br>
                    </p>
                </div>
                <div class="mbr-section-btn"><a class="btn btn-md btn-danger-outline display-4" href="http://panalpina.com/www/global/en/home.html" target="_blank">WEBSITE</a></div>
            </div>
        </div>
    </div>

</section>

<section class="mbr-section article content10 cid-rHeZG5itLa" id="content10-6l">
    
     

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 22%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-1">
                    
                    {% if page.lang == 'en' %}
                    WORLD
                    {% else %}
                    WELT
                    {% endif %}
                </div>
            <hr class="line" style="width: 22%;">
        </div>
    </div>
</section>

<section class="cid-rHf1pae9nQ" id="image3-6m">

    

    <figure class="mbr-figure container">
            <div class="image-block" style="width: 45%;">
                <img src="/assets/images/undraw-connected-world-wuay.svg" width="1400" alt="Mobirise" title="">
                
            </div>
    </figure>
</section>

<section class="mbr-section article content1 cid-rHf34ACFAP" id="content1-6o">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8">
            <p>
                {% if page.lang == 'en' %}
                We serve customers in many countries, therefore only working with logistics in Austria would not make sense.
                <br>
                <strong>Below you can see only a few of the logistics companys we often work with.</strong> Chances are, we've worked with your favorite one before.
                {% else %}
                Wir bedienen Kunden in vielen Ländern, daher wäre es nicht sinnvoll, nur mit Logistikunternehmen in Österreich zu arbeiten.
                <br>
                <strong>Nachfolgend sehen Sie nur einige der Logistikunternehmen, mit denen wir häufig zusammenarbeiten.</strong> Die Chancen stehen gut, dass wir schon einmal mit Ihrem Favoriten gearbeitet haben.
                {% endif %}
            </p> 
        </div>
    </div>
</section>

<section class="mbr-section article content12 cid-rHf1yIxIPe" id="content12-6n">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ul>
                    <li>
                        <strong>DL Freight Management (Rotterdam)</strong><br>
                        🇳🇱 NL
                    </li>
                    <li>
                        <strong>L&amp;A Freight BV</strong><br>
                        🇳🇱 NL
                    </li>
                    <li>
                        <strong>Captains Freight Services</strong><br>
                        🇭🇰 HK
                    </li>
                    <li>
                        <strong>Eurofreight Logistics</strong><br>
                        🇬🇷 GR
                    </li>
                    <li>
                        <strong>GTG Logistics</strong><br>
                        🇩🇪 DE
                    </li>
                    <li>
                        <strong>EL Logistica</strong><br>
                        🇮🇹 IT
                    </li>
                    <li>
                        <strong>Geo-Logistik</strong><br>
                        🇮🇹 IT
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-rHf4czo2uF mbr-parallax-background" id="shipping">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(128, 12, 12);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">

                {% if page.lang == 'en' %}
                SHIPPING
                {% else %}
                VERSAND
                {% endif %}
                </h2>
                
                
                
            </div>
        </div>
    </div>
</section>

<section class="features2 cid-qY9fCngepN" id="features2-24">

    

    
    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="https://www.ups.com/"><img src="/assets/images/ups-638x323.jpg" alt="UPS" title="UPS"></a>
                    </div>
                    <div class="card-box">
                        
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="https://www.tnt.com/"><img src="/assets/images/tnt-logo-l-3508x2236.png" alt="TNT" title="TNT"></a>
                    </div>
                    <div class="card-box ">
                        
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="https://www.fedex.com/"><img src="/assets/images/fexex-1-2000x1600.png" alt="FedEx" title="FedEx"></a>
                    </div>
                    <div class="card-box">
                        
                        
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rHf6xjgAX3" id="content1-6v">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8">

                <p>

                {% if page.lang == 'en' %}
                Shipping is serious business. We make sure that all the goods we send to our customers are <strong>packed correctly</strong> (to avoid damage) and<strong> insure all of our shipments</strong>. That way, you don't have to worry about receiving the items you bought.
                <br><br>
                Depending on the case, we either ship by <strong>courier</strong>, or <strong>cargo</strong>. In all cases we communicate the details of the shipment to you beforehand and allow you to voice <strong>your preferences, both in regards to speed, as well as price.</strong>
                {% else %}
                Versand ist ein seriöses Thema. Wir sorgen dafür, dass alle Waren, die wir an unsere Kunden versenden, <strong>ordnungsgemäß verpackt</strong> sind (um Schäden zu vermeiden) und <strong>versichern alle unsere Sendungen</strong>. Auf diese Weise müssen Sie sich keine Sorgen machen, dass Sie die von Ihnen gekauften Artikel erhalten.
                <br><br>
                Je nach Fall versenden wir entweder per <strong>Kurier</strong> oder per <strong>Fracht</strong>. In allen Fällen teilen wir Ihnen die Details der Sendung im Voraus mit und ermöglichen es Ihnen, <strong>Ihre Präferenzen sowohl in Bezug auf die Geschwindigkeit als auch auf den Preis</strong> zu äußern.
                {% endif %}

                </p>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rHf6jxDIpe" id="content1-6u">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-2 col-md-8"><p><strong>
                {% if page.lang == 'en' %}
                SHIPPING OPTIONS
                {% else %}
                VERSAND-MÖGLICHKEITEN
                {% endif %}
            </strong></p></div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-qY9gA6gdan" id="content11-27">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    {% if page.lang == 'en' %}
                        <li><strong>CIP </strong>(Cost &amp; Insurance Paid<em>)&nbsp;</em>- We ship the goods to you and pay all costs, including insurance</li>
                        <li><strong>EXW</strong> (Ex Works<em>)&nbsp;</em>- You pay all costs related to the pickup of the goods from one of the logistics warehouses we work with. We only make the goods available for pickup.</li>
                        <li><strong>On-Hold </strong><span style="font-size: 1rem;">- We deliver the goods "on-hold" at a logistics warehouse of your choice. That means you can inspect them but you can only take them after you pay the full amount due.</span></li>
                      {% else %}
                        <li><strong>CIP </strong>(Cost &amp; Insurance Paid<em>)&nbsp;</em>- Wir versenden die Ware und zahlen für alles, inkl. Versicherung.</li>
                        <li><strong>EXW</strong> (Ex Works<em>)&nbsp;</em>- Sie übernehmen alle damit verbundenen Kosten, sodass die Ware von einem unserer Logistiklagern abgeholt wird.</li>
                        <li><strong>On-Hold </strong><span style="font-size: 1rem;">- Wir liefern die Ware "on-hold", d.h. Sie können die besichtigen, aber wir geben die erst nach Eingang der vollständigen Zahlung frei.</span></li>
                      {% endif %}
                    
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rllOBlHjqo" id="company">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 22%;">
            <div class="section-text align-center mbr-fonts-style display-1"><strong>

                {% if page.lang == 'en' %}
                COMPANY INFO
                {% else %}
                FIRMEN-INFOS
                {% endif %}
                </strong>
            </div>
            <hr class="line" style="width: 22%;">
        </div>
        </div>
</section>

<section class="mbr-section content4 cid-rllOKu774n" id="content4-5m">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">

                    {% if page.lang == 'en' %}
                        <div> <strong>Trade Register No.:</strong> FN 465679y
                        </div><br>
                        <div> <strong>VAT No.:</strong> ATU71975838
                        </div><br>
                        <div><strong>Office/Billing&nbsp;Address: 
                        </strong>
                        </div>
                        <div>Heiligenstädter Lände 29/2. OG,
                        </div>
                        <div>1010 Vienna, <span style="font-size: 1.5rem;">Austria</span>
                        </div>
                      {% else %}
                        <div> <strong>Handelsregister-Nr.:</strong> FN 465679y
                        </div><br>
                        <div> <strong>UID-Nr.:</strong> ATU71975838
                        </div><br>
                        <div><strong>Büro/Rechnungsadresse: 
                        </strong>
                        </div>
                        <div>Heiligenstädter Lände 29/2. OG,
                        </div>
                        <div>1010 Wien,&nbsp;<span style="font-size: 1.5rem;">Österreich</span>
                        </div>
                      {% endif %}
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-rHf4Z0ETRE mbr-parallax-background" id="bank">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(3, 80, 14);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    
                {% if page.lang == 'en' %}
                BANK ACCOUNTS
                {% else %}
                BANK-VERBINDUNGEN
                {% endif %}

                </h2>
                
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-rllO0Yv9uo" id="content6-5k">
    
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 75%;">
                      <img style="max-width: 50vw; margin-left: auto; margin-right: auto;" src="/assets/images/undraw-vault-9cmw-1.svg" alt="bank vault" title="">  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">
                                {% if page.lang == 'en' %}
                                    
                                    <strong>Erste Bank der oesterreichischen Sparkassen AG</strong>
                                    <br>
                                    IBAN: AT79 2011 1841 2877 9100
                                    <br>
                                    BIC: GIBAATWW
                                    <br>
                                    Beneficiary: TECHOMAX GmbH<br>
                                    <br>
                                    <br>
                                    <strong>Raiffeisenlandesbank Niederösterreich-Wien AG</strong>
                                    <br>
                                    Friedrich-Wilhelm-Raiffeisenplatz 1, AT-1020 Vienna
                                    <br>
                                    IBAN: AT04 3200 0000 1306 4456
                                    <br>
                                    SWIFT: RLNWATWW
                                    <br>
                                    Beneficiary: TECHOMAX GmbH
                                    <br>
                                  {% else %}
                                  <strong>Erste Bank der oesterreichischen Sparkassen AG</strong>
                                    <br>
                                    IBAN: AT79 2011 1841 2877 9100
                                    <br>
                                    BIC: GIBAATWW
                                    <br>
                                    Kontoinhaber: TECHOMAX GmbH<br>
                                    <br>
                                    <br>
                                    <strong>Raiffeisenlandesbank Niederösterreich-Wien AG</strong>
                                    <br>
                                    Friedrich-Wilhelm-Raiffeisenplatz 1, AT-1020 Wien
                                    <br>
                                    IBAN: AT04 3200 0000 1306 4456
                                    <br>
                                    SWIFT: RLNWATWW
                                    <br>
                                    Kontoinhaber: TECHOMAX GmbH
                                    <br>
                                  {% endif %}

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>