

  <section class="cid-rl5fTQ7mDf" id="image2-5k">

    

    <figure class="mbr-figure container">
        <div class="image-block" style="width: 100%;">
            <img src="/assets/images/tech-brands-1440x282.jpg" alt="Brands" title="">
            
        </div>
    </figure>
</section>

{% include product-tiles.html %}

<section class="mbr-section article content9 cid-qY9fBn3PIJ" id="content9-22">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 11%;">
            <div class="section-text align-center mbr-fonts-style display-1"><strong>
                    Logistics</strong></div>
            <hr class="line" style="width: 11%;">
        </div>
        </div>
</section>

<section class="header3 cid-qY9fBV4BPH" id="header3-23">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="/assets/images/triworx-1-559x314.jpg" alt="triworx" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2">
                    <strong>Triworx Logistic</strong>
                </h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">Triworx Logistic GmbH<br>
                        Hauptstraße 33,<br>2485 Wimpassing an der Leitha,<br>

                        {% if page.lang == 'en' %}
                            Austria<br><br>
                            <em>MON-THU: 08:00-16:30<br>
                            FRI: 08:00-13:30</em><br>
                          {% else %}
                            Österreich<br><br>
                            <em>MO-DO: 08:00-16:30<br>
                            FR: 08:00-13:30</em><br>
                          {% endif %}
                    </p>
                </div>
                
            </div>
        </div>
    </div>

</section>

<section class="header3 cid-rgstD7VAgu" id="header3-3k">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="/assets/images/panalpina-630x326.jpg" alt="Panalpina" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1"><strong>
                    Panalpina</strong></h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">
                        Panalpina Welttransport GmbH<br>Johann-Pamer-Straße 1,<br>2100 Korneuburg,
                        {% if page.lang == 'en' %}
                          Austria
                          {% else %}
                          Österreich
                          {% endif %}
                        <br>
                    </p>
                </div>
                <div class="mbr-section-btn"><a class="btn btn-md btn-danger-outline display-4" href="http://panalpina.com/www/global/en/home.html" target="_blank">WEBSITE</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="mbr-section content6 cid-r7uFJYMzFc" id="content6-3r">
    
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 120%;">
                      <img src="/assets/images/logistics.svg" alt="logistics" title="">  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            
                            {% if page.lang == 'en' %}
                              <p class="mbr-text mb-0 mbr-fonts-style display-5">We also work with <strong>DL Freight </strong>(NL), <strong>L&amp;A Freight</strong> (NL) and <strong>many other logistics-companies in Europe!</strong></p>
                              {% else %}
                              <p class="mbr-text mb-0 mbr-fonts-style display-5">Wir arbeiten auch mit <strong>DL Freight </strong>(NL), <strong>L&amp;A Freight</strong> (NL) und <strong>viele anderen Logistikunternehmen in Europa!</strong></p>
                              {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rllNr8itWN" id="content9-5i">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 16%;">
            <div class="section-text align-center mbr-fonts-style display-1">
                <strong> 
                    {% if page.lang == 'en' %}
                      Shipping
                      {% else %}
                      Versand
                      {% endif %}
                </strong>
            </div>
            <hr class="line" style="width: 16%;">
        </div>
        </div>
</section>

<section class="features2 cid-qY9fCngepN" id="features2-24">

    

    
    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="https://www.ups.com/"><img src="/assets/images/ups-638x323.jpg" alt="UPS" title="UPS"></a>
                    </div>
                    <div class="card-box">
                        
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="https://www.tnt.com/"><img src="/assets/images/tnt-logo-l-3508x2236.png" alt="TNT" title="TNT"></a>
                    </div>
                    <div class="card-box ">
                        
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="https://www.fedex.com/"><img src="/assets/images/fexex-1-2000x1600.png" alt="FedEx" title="FedEx"></a>
                    </div>
                    <div class="card-box">
                        
                        
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-qY9gA6gdan" id="content11-27">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    
                    {% if page.lang == 'en' %}
                        <li><strong>CIP </strong>(Cost &amp; Insurance Paid<em>)&nbsp;</em>- We ship the goods to you and pay all costs, including insurance</li>
                        <li><strong>EXW</strong> (Ex Works<em>)&nbsp;</em>- You pay all costs related to the pickup of the goods from one of the logistics warehouses we work with. We only make the goods available for pickup.</li>
                        <li><strong>On-Hold </strong><span style="font-size: 1rem;">- We deliver the goods "on-hold" at a logistics warehouse of your choice. That means you can inspect them but you can only take them after you pay the full amount due.</span></li>
                      {% else %}
                        <li><strong>CIP </strong>(Cost &amp; Insurance Paid<em>)&nbsp;</em>- Wir versenden die Ware und zahlen für alles, inkl. Versicherung.</li>
                        <li><strong>EXW</strong> (Ex Works<em>)&nbsp;</em>- Sie übernehmen alle damit verbundenen Kosten, sodass die Ware von einem unserer Logistiklagern abgeholt wird.</li>
                        <li><strong>On-Hold </strong><span style="font-size: 1rem;">- Wir liefern die Ware "on-hold", d.h. Sie können die besichtigen, aber wir geben die erst nach Eingang der vollständigen Zahlung frei.</span></li>
                      {% endif %}
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rllOBlHjqo" id="content9-5l">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 22%;">
            <div class="section-text align-center mbr-fonts-style display-1">
                <strong>
                    {% if page.lang == 'en' %}
                      Company Info
                      {% else %}
                      Firmendaten
                      {% endif %}
                </strong>
                </div>
            <hr class="line" style="width: 22%;">
        </div>
        </div>
</section>

<section class="mbr-section content4 cid-rllOKu774n" id="content4-5m">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    {% if page.lang == 'en' %}
                        <div> <strong>Trade Register No.:</strong> FN 465679y
                        </div>
                        <div> <strong>VAT No.:</strong> ATU71975838
                        </div>
                        <div><strong>Office/Billing&nbsp;Address: 
                        </strong>
                        </div>
                        <div>Heiligenstädter Lände 29/2. OG,
                        </div>
                        <div>1190 Vienna, <span style="font-size: 1.5rem;">Austria</span>
                        </div>
                      {% else %}
                        <div> <strong>Handelsregister-Nr.:</strong> FN 465679y
                        </div>
                        <div> <strong>UID-Nr.:</strong> ATU71975838
                        </div>
                        <div><strong>Büro/Rechnungsadresse: 
                        </strong>
                        </div>
                        <div>Heiligenstädter Lände 29/2. OG,
                        </div>
                        <div>1190 Wien,&nbsp;<span style="font-size: 1.5rem;">Österreich</span>
                        </div>
                      {% endif %}
                </h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rllNR1ks0q" id="bank">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 32%;">
            <div class="section-text align-center mbr-fonts-style display-1">
                <strong>
                    {% if page.lang == 'en' %}
                      Bank Accounts
                      {% else %}
                      Bank-Verbindung
                      {% endif %}
                </strong>
            </div>
            <hr class="line" style="width: 32%;">
        </div>
        </div>
</section>

<section class="mbr-section content6 cid-rllO0Yv9uo" id="content6-5k">
    
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 75%;">
                      <img src="/assets/images/undraw-vault-9cmw-1.svg" alt="bank vault" title="">  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">
                                {% if page.lang == 'en' %}
                                    <strong>BAWAG P.S.K.</strong>
                                    <br>
                                    Georg-Coch-Platz 2, AT-1018 Vienna
                                    <br>
                                    IBAN: AT45 1400 0001 1046 4215
                                    <br>
                                    SWIFT: BAWAATWW
                                    <br>
                                    Beneficiary: TECHOMAX GmbH
                                    <br>
                                    <br>
                                    <strong>UniCredit Bank Austria AG</strong>
                                    <br>
                                    Schottengasse 6-8, AT-1010 Vienna
                                    <br>
                                    IBAN: AT57 1200 0100 2102 9862
                                    <br>
                                    BIC: BKAUATWW
                                    <br>
                                    Beneficiary: TECHOMAX GmbH<br>
                                  {% else %}
                                  <strong>BAWAG P.S.K.</strong>
                                    <br>
                                    Georg-Coch-Platz 2, AT-1018 Wien
                                    <br>
                                    IBAN: AT45 1400 0001 1046 4215
                                    <br>
                                    SWIFT: BAWAATWW
                                    <br>
                                    Kontoinhaber: TECHOMAX GmbH
                                    <br>
                                    <br>
                                    <strong>UniCredit Bank Austria AG</strong>
                                    <br>
                                    Schottengasse 6-8, AT-1010 Wien
                                    <br>
                                    IBAN: AT57 1200 0100 2102 9862
                                    <br>
                                    BIC: BKAUATWW
                                    <br>
                                    Kontoinhaber: TECHOMAX GmbH<br>
                                  {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>