---
layout: default
title: Produkte
description: Unsere Produkt-Liste
lang: de
ref: products
---

  <section class="header1 cid-riCW1TRqrR" id="header16-5i">


    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Aktuelle Angebote</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Werfen Sie einen Blick auf die Artikel, die wir derzeit auf Lager haben oder in den nächsten Tagen erwarten. Kontaktieren Sie uns und teilen Sie uns Ihren Zielpreis und die Anzahl die Menge mit, die Sie nehmen möchten.</p>
                
            </div>
        </div>
    </div>

</section>


<section id="Gallery">
    {%- include airtable/airtable-product-gallery.html -%}
</section>

<section class="mbr-section content7 cid-rllMoEZHWY" id="content7-5h">
          
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-5"><strong>DOWNLOAD</strong><br>Klicken Sie auf den Button "<strong>...</strong>", um die Liste im CSV-Format herunterzuladen!</p>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 85%;">
                     <img src="/assets/images/download-csv-286x110.jpg" alt="CSV Download" title="">  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%- include quick-contact.html -%}

<section class="mbr-section info2 cid-riCZtMzewv" id="info2-5n">

    

    

    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-danger-outline display-4" href="/{{ page.lang }}/register"><span class="mobi-mbri mobi-mbri-user-2 mbr-iconfont mbr-iconfont-btn"></span>NEUKUNDE</a></div>
            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-5">Sie müssen Ihre Firma registrieren, um ein Passwort zu erhalten.</h2>
                <h3 class="mbr-section-subtitle align-right mbr-light mbr-white mbr-fonts-style display-5">Wenn Ihre Registrierung abgeschlossen ist und Sie noch keine haben, kontaktieren Sie uns bitte.</h3>
            </div>
        </div>
    </div>
</section>


