
  <section class="header1 cid-riCW1TRqrR" id="header16-5i">


    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                {% if page.lang == 'en' %}
                  Most Popular Items
                  {% else %}
                  Beliebteste Produkte
                  {% endif %}
                </h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    {% if page.lang == 'en' %}
                      Take a look at the product gallery below. All articles can be pre-ordered. Delivery after approximately 1 week.
                      <br>
                      Let us know the quantity you would like to order in order to receive an offer!
                      {% else %}
                      Werfen Sie einen Blick in die untenstehende Produktgalerie. Alle Artikel sind vorbestellbar. Lieferung nach ca. 1 Woche.
                      <br>
                      Teilen Sie uns die Menge mit, die Sie bestellen möchten, um ein Angebot zu erhalten!
                      {% endif %}
                </p>
                
            </div>
        </div>
    </div>

</section>


<section id="Gallery">
    {%- include airtable/airtable-product-gallery.html -%}
</section>

<section class="mbr-section content7 cid-rllMoEZHWY" id="content7-5h">
          
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-5"><strong>DOWNLOAD</strong>
                                {% if page.lang == 'en' %}
                                  <br>Click the "<strong>...</strong>" button to download the list in CSV format!</p>
                                  {% else %}
                                  <br>Klicken Sie auf den Button "<strong>...</strong>", um die Liste im CSV-Format herunterzuladen!</p>
                                  {% endif %}
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 85%;">
                     <img src="/assets/images/download-csv-286x110.jpg" alt="CSV Download" title="">  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%- include quick-contact.html -%}

<section class="mbr-section info2 cid-riCZtMzewv" id="info2-5n">

    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-danger-outline display-4" href="/{{ page.lang }}/register"><span class="mobi-mbri mobi-mbri-user-2 mbr-iconfont mbr-iconfont-btn"></span>
                {% if page.lang == 'en' %}
                  REGISTER
                  {% else %}
                  NEUKUNDE
                  {% endif %}
                </a>
                </div>
            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-5">
                    {% if page.lang == 'en' %}
                      You must first register you company in order to purchase goods from us!
                      <br>
                      <strong></strong>NOTE</strong>: We do NOT currently have a web-shop. You will NOT get log-in details. Registering will add your company to our database, which is neccessary to close deals.
                      {% else %}
                      Sie müssen Ihr Unternehmen zunächst registrieren, um bei uns Waren zu kaufen!
                      <br>
                      <strong>HINWEIS</strong>: Wir haben derzeit KEINEN Webshop. Sie erhalten KEINE Zugangsdaten. Durch die Registrierung wird Ihr Unternehmen in unsere Datenbank aufgenommen, was für den Abschluss von Geschäften erforderlich ist.
                      {% endif %}
                </h2>
            </div>
        </div>
    </div>
</section>


